.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-family: 'Roboto', Sans-Serif;
    font-weight: 500;
    font-size: 18px;
    line-height: 1.33;
    max-width: 1232px;
    padding: 0 calc((100% - 1232px) / 2);
    position: relative;
}

@media (max-width: 1300px) {
    .header{
        padding: 0;
        margin: 0 40px;
        max-width: calc(100% - 80px);
    }
}

@media (max-width: 1000px) {
    .header{
        font-size: 16px;
    }
}

@media (max-width: 719px) {
    .header{
        margin: 0;
        padding: 0 16px;
        max-width: calc(100% - 32px);
    }
}
@media (max-width: 719px) {
    .header_black{
        background-color: #1A1B22;
        color: white;
        width: calc(100% + 32px);
    }
}
.header__title{
    font-family: "Roboto Slab", serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    padding: 30px 0 26px 0;
    margin: 0;
    font-weight: 700;
}
@media (max-width: 800px) {
    .header__title{
        padding: 23px 0 19px;
    }
}

@media (max-width: 719px) {
    .header__title{
        padding: 16px 0;
        font-size: 16px;
        line-height: 24px;
    }
}
.header__menu{
    display: none;
}

@media (max-width: 719px) {
    .header__menu{
        display: block;
    }
}

.header__menu_black{
    display: none;
}

@media (max-width: 719px) {
    .header__menu_black{
        display: block;
    }
}
.header__navbar{
    display: flex;
    align-items: center;
}

@media (max-width: 719px) {
    .header__navbar{
        display: none;
    }
}


@media (max-width: 719px) {
    .header__navbar_open{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        position: absolute;
        top: 56px;
        left: -16px;
        z-index: 3;
        background-color: #1A1B22;
        width: calc(100% + 16px);
        border-top: 1px solid grey;
    }
}
.header__redirect-home{
    margin: auto 42px 0;
    align-self: center;
    padding: 30px 0 22px;
    font-weight: 500;
    cursor: pointer;
    color: white;
    text-decoration: none;
}
@media (max-width: 800px) {
    .header__redirect-home{
        padding: 22px 0 20px;
        margin-top: 0;
    }
}

@media (max-width: 719px) {
    .header__redirect-home{
        align-self: auto;
        margin:  19px 32px 25px;
        padding: 0; 
        color: white;
    }
}

.header__redirect-home_black{
    color: black;
    border-bottom: none;
}

@media (max-width: 719px) {
    .header__redirect-home_black{
        color: white;
    }
}

.header__redirect-home_active{
    border-bottom: 3px solid white;
    padding-bottom: 19px;
}
.header__redirect-saved{
    margin: auto 42px 0 0;
    align-self: center;
    padding: 30px 0 22px;
    font-weight: 500;
    cursor: pointer;
    text-decoration: none;
    color: white;
}
@media (max-width: 800px) {
    .header__redirect-saved{
       padding: 22px 0 20px;
       margin-top: 0;
    }
}
@media (max-width: 719px) {
    .header__redirect-saved{
       align-self: auto;
       padding: 0;
       margin: 0 32px 25px;
    }
}
.header__redirect-saved_active{
    border-bottom: 3px solid black;
    box-sizing: border-box;
    padding-bottom: 19px;
    color: black;
}

@media (max-width: 719px) {
    .header__redirect-saved_active{
        color: white;
        border-bottom: 3px solid white;
    }
}
.header__log{
    margin: auto;
    border: 1px solid #fff;
    border-radius: 100px;
    padding: 19px 0 13px;
    width: 152px;
    line-height: 24px;
    cursor: poInter;
    font-weight: 500;
}

@media (max-width: 800px) {
    .header__log{
        padding: 8px 0;
        margin-top: 14px;
    }
}
@media (max-width: 719px) {
    .header__log{
        margin: 0 32px 16px 24px;
        width: calc(100% - 32px);
    }
}
.header__log_saved-route{
    border: 1px solid #1A1B22;
}

.header__log-out{
    display: flex;
    justify-content: center;
    border: 1px solid #fff;
    border-radius: 100px;
    min-width: 112px;
    padding: 12px 19px 12px 19px;
    margin-top: 8px;
    color: white;
    text-decoration: none;
    cursor: pointer;
}
@media (max-width: 800px) {
    .header__log-out{
       margin: 14px 0 10px;
    }
}
@media (max-width: 719px) {
    .header__log-out{
        padding: 16px 0;
        margin: 0 24px 32px 24px;
        width: calc(100% - 48px);
    }
}
.header__log-out_saved{
    border: 1px solid black;
}
@media (max-width: 719px) {
    .header__log-out_saved{
        color: white;
        border: 1px solid white;
    }
}
.header__user{
    margin: auto 8px;
    align-self: flex-end;
}
.header__user_saved{
    color: black;
}
@media (max-width: 719px) {
    .header__user_saved{
        color: white;
    }
}
.header__user_main{
    color: white;
}

.header__out-symbol{
    margin: auto 0;
}
/*create log_saved::after content symbol*/