.main-function{
    background-image: url('../../images/main-function__container/georgia-de-lotz--UsJoNxLaNo-unsplash.svg');
    background-origin: padding-box;
    background-size: cover;
    color: white;
}
@media (max-width: 800px) {
    .main-function{
        background-position: 50%;
    }
}
.main-function_saved-news{
    color: black;
    background-color: white;
    background-image: none;
}